.b-categorybar-item-wrapper {
    border-width: 1px;
}

.b-categorybar-item-wrapper:hover {
    background-color: #EEE;
}

.b-categorybar-item-wrapper.state__active {
    background: var(--bs-primary) !important;
}